<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean id="privilegeAdvice" class="com.cma.intervideo.util.PrivilegeAdvice">
		<constructor-arg ref="userDao"/>
	</bean>
	<bean id="privilegePointcut" class="com.cma.intervideo.util.PrivilegePointcut">
		<constructor-arg ref="userDao"/>
	</bean>
	<bean id="defaultAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
		<property name="advice" ref="privilegeAdvice"></property>
		<property name="pointcut" ref="privilegePointcut"></property>
	</bean>
	<bean id="proxyFactoryBean" class="org.springframework.aop.framework.ProxyFactoryBean" abstract="true">
		<property name="proxyTargetClass" value="true"/>
		<property name="interceptorNames">
			<list>
				<value>defaultAdvisor</value>
			</list>
		</property>
	</bean>
</beans>