<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


	<bean id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl"
			value="jdbc:mysql://localhost:3206/vcm?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
		<property name="user" value="root"></property>
		<property name="password" value="111111"></property>
		<property name="minPoolSize" value="15" />
		<property name="maxPoolSize" value="50" />
		<property name="maxStatements" value="0" />
		<property name="acquireIncrement" value="3" /> 
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.OSCacheProvider</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/cma/intervideo/pojo/mysql/User.hbm.xml</value>
        		<value>com/cma/intervideo/pojo/mysql/Log.hbm.xml</value>
        		<value>com/cma/intervideo/pojo/mysql/RoomParty.hbm.xml</value>
        		<value>com/cma/intervideo/pojo/mysql/BulletinBoard.hbm.xml</value>
        		<value>com/cma/intervideo/pojo/mysql/MessageBoard.hbm.xml</value>
        		<value>com/cma/intervideo/pojo/mysql/Role.hbm.xml</value>
        		<value>com/cma/intervideo/pojo/mysql/FieldDesc.hbm.xml</value>
        		<value>com/cma/intervideo/pojo/mysql/RolePrivilege.hbm.xml</value>
        		<value>com/cma/intervideo/pojo/mysql/Conference.hbm.xml</value>
        		<value>com/cma/intervideo/pojo/mysql/UserRole.hbm.xml</value>
        		<value>com/cma/intervideo/pojo/mysql/VirtualRoom.hbm.xml</value>
        		<value>com/cma/intervideo/pojo/mysql/Privilege.hbm.xml</value>
        		<value>com/cma/intervideo/pojo/mysql/ConfParty.hbm.xml</value>
        		<value>com/cma/intervideo/pojo/mysql/ServiceTemplate.hbm.xml</value>
        		<value>com/cma/intervideo/pojo/mysql/Unit.hbm.xml</value>
        		<value>com/cma/intervideo/pojo/mysql/ConfUnit.hbm.xml</value>
        		<value>com/cma/intervideo/pojo/mysql/Terminal.hbm.xml</value>
        		<value>com/cma/intervideo/pojo/mysql/ConfTemplate.hbm.xml</value>
        		<value>com/cma/intervideo/pojo/mysql/ConfTemplateXUnit.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	<bean id="hibernateInterceptor" class="org.springframework.orm.hibernate3.HibernateInterceptor">
         <property name="sessionFactory">
           <ref bean="sessionFactory"/>
         </property>
    </bean>
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="baseTransactionProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" abstract="true">
		<property name="transactionManager" ref="transactionManager" />
		<property name="proxyTargetClass" value="true"/>
		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>				
		
				<prop key="modify*">PROPAGATION_REQUIRED</prop>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="create*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
		<property name="preInterceptors">
			<list>
				<ref bean="defaultAdvisor"/>
			</list>
		</property>
	</bean>
</beans>