<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<bean id="userDao" class="com.cma.intervideo.dao.mysql.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="roleDao" class="com.cma.intervideo.dao.mysql.RoleDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="bbsDao" class="com.cma.intervideo.dao.mysql.BBSDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="bulletinDao" class="com.cma.intervideo.dao.mysql.BulletinDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="roomDao" class="com.cma.intervideo.dao.mysql.RoomDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="confTemplateDao" class="com.cma.intervideo.dao.mysql.ConfTemplateDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="serviceDao" class="com.cma.intervideo.dao.mysql.ServiceDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="confDao" class="com.cma.intervideo.dao.mysql.ConfDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="unitDao" class="com.cma.intervideo.dao.mysql.UnitDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="terminalDao" class="com.cma.intervideo.dao.mysql.TerminalDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="resourceDao" class="com.cma.intervideo.dao.mysql.ResourceDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="statDao" class="com.cma.intervideo.dao.mysql.StatDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="logDao" class="com.cma.intervideo.dao.mysql.LogDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
</beans>