<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<bean id="userService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.cma.intervideo.service.impl.UserServiceImpl">
				<property name="userDao" ref="userDao" />
				<property name="logDao" ref="logDao"></property>
			</bean>
		</property>
	</bean>
	<bean id="roleService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.cma.intervideo.service.impl.RoleServiceImpl">
				<property name="roleDao" ref="roleDao"/>
			</bean>
		</property>
	</bean>
	<bean id="bbsService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.cma.intervideo.service.impl.BBSServiceImpl">
				<property name="bbsDao" ref="bbsDao"/>
			</bean>
		</property>
	</bean>
	<bean id="bulletinService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.cma.intervideo.service.impl.BulletinServiceImpl">
				<property name="bulletinDao" ref="bulletinDao"/>
			</bean>
		</property>
	</bean>
	<bean id="roomService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.cma.intervideo.service.impl.RoomServiceImpl">
				<property name="roomDao" ref="roomDao"/>
				<property name="serviceDao" ref="serviceDao"/>
			</bean>
		</property>
	</bean>
	<bean id="serviceService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.cma.intervideo.service.impl.ServiceServiceImpl">
				<property name="serviceDao" ref="serviceDao"/>
			</bean>
		</property>
	</bean>
	<bean id="confService" parent="baseTransactionProxy">
		<property name="transactionAttributes">
			<props>
				<prop key="checkConfs">PROPAGATION_NEVER</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>				
		
				<prop key="modify*">PROPAGATION_REQUIRED</prop>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="create*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
		<property name="target">
			<bean class="com.cma.intervideo.service.impl.ConfServiceImpl">
				<property name="confDao" ref="confDao"></property>
				<property name="unitDao" ref="unitDao"></property>
				<property name="serviceDao" ref="serviceDao"/>
				<property name="logDao" ref="logDao"/>
			</bean>
		</property>
	</bean>
	<bean id="unitService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.cma.intervideo.service.impl.UnitServiceImpl">
				<property name="unitDao" ref="unitDao"></property>
				<property name="terminalDao" ref="terminalDao"></property>
			</bean>
		</property>
	</bean>
	<bean id="terminalService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.cma.intervideo.service.impl.TerminalServiceImpl">
				<property name="terminalDao" ref="terminalDao"/>
			</bean>
		</property>
	</bean>
	<bean id="notificationHandleService" parent="baseTransactionProxy">
		<property name="transactionAttributes">
			<props>
				<prop key="handle*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
		<property name="target">
			<bean class="com.cma.intervideo.service.impl.NotificationHandleServiceImpl">
				<property name="confDao" ref="confDao"></property>
			</bean>
		</property>
	</bean>
	<bean id="resourceService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.cma.intervideo.service.impl.ResourceServiceImpl">
				<property name="resourceDao" ref="resourceDao"/>
			</bean>
		</property>
	</bean>
	<bean id="statService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.cma.intervideo.service.impl.StatServiceImpl">
				<property name="statDao" ref="statDao"/>
			</bean>
		</property>
	</bean>
	<bean id="logService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.cma.intervideo.service.impl.LogServiceImpl">
				<property name="logDao" ref="logDao"/>
			</bean>
		</property>
	</bean>
</beans>